@media print{    
  .no-print, .no-print * {
      display: none !important;
  }
  @page { 
      margin: 0; 
  }
  body { 
    margin: 1.6cm; 
  }
    #encabezado-tabla, #numero, #fecha, #hora, #numeroletras, #importe, #mensaje {
    font-size: 160% !important;
  }
  
  #mainTable td{
    font-size: 160%;
  }



  #titulo {
    font-size: 200% !important;
  }
}