<style>
  #comment {
    white-space: pre-wrap;
  }
</style>

<div class="loading-spiner-holder" data-loading>
  <div>
    <img src="img/load.gif" />
    <span>cargando...</span>
  </div>
</div>
<div class="container-fluid">
  <h1>Guía de trabajo en comisión</h1>
  <div class="row">
    <div class="form-group">
<h3>Parlamento Juvenil del Mercosur</h3>
<p>
Promovemos espacios de participación para los estudiantes del Nivel Secundario en cuestiones relativas a su desarrollo
educativo y a las políticas públicas dirigidas a ellos.

Bajo el lema “La Escuela Secundaria que queremos” proponemos el debate en torno a los ejes “Inclusión Educativa”;
“Género”; “Jóvenes y Trabajo”; “Derechos Humanos”, “Participación Ciudadana” e “Integración Latinoamericana”.
</p>
<p>
La participación es una herramienta de transformación y el debate es una forma de construcción de conocimiento. Por
ello alentamos un espacio de diálogo institucionalizado entre los jóvenes a través de diferentes instancias de
participación: escolar, provincial, nacional e internacional. En cada una de ellas los estudiantes elaboran propuestas
que quedan plasmadas en documentos.</p>

    </div>
  </div>
  <p>&nbsp;</p>
</div>
