
<div class="loading-spiner-holder" data-loading >
    <div>
        <img src="img/load.gif" />
        <span>cargando...</span>
    </div>
</div>
<!-- add class backgroundimg -->
<div class="row">
    <div class="col-md-12">
      
      <form  class="form">
        <div class="col-md-4 col-md-offset-4">
          <!-- <img src="img/logo.png"> -->
          <h4>Parlamento Juvenil del Mercosur</h4>
          <h3>Ingresar</h3>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="DNI" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="contraseña" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" ng-click="formSubmit()" class="btn btn-success">Entrar</button>
            <span class="text-danger">{{ error }}</span>
          </div>
          <hr>
          <br>
          <div class="form-group">
           <a href="#/register" class="btn btn-primary" role="button">Registrarme</a>
          </div>

        </div>
      </form>
    </div>

</div>

<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <form>
          <input type="text" ng-model="username" placeholder="Username">
          <input type="password" ng-model="password" placeholder="Password">
          <input type="submit" id="enviar" ng-click="formSubmit()" class="login loginmodal-submit" value="Login">
          <span class="text-danger">{{ error }}</span>
          </form>
        </div>
      </div>
</div>
 -->
<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('#login-modal').modal('toggle');

    $('#enviar').click(function(){
      $('#login-modal').modal('toggle');
    });
    
});


</script> -->