<div class="container-fluid">
    <div class="loading-spiner-holder" data-loading>
        <div>
            <img src="img/load.gif" />
            <span>cargando...</span>
        </div>
    </div>
    <div>
        <h1>Mis Datos</h1>
    </div>

    <div class="row">
        Apellido: {{perfil.apellido}}
    </div>
    <div class="row">
        Nombre: {{perfil.nombre}}
    </div>
    <div class="row">
        DNI: {{perfil.dni}}
    </div>
    <div class="row">
        Email: {{perfil.email}}
    </div>
    <div class="row">
        Región: {{perfil.region}}
    </div>
    <div class="row">
        Distrito: {{perfil.distrito}}
    </div>
    <div class="row">
        Escuela: {{perfil.escuela}}
    </div>
    <div class="row">
        Comisión: {{perfil.comision}}
    </div>
</div>